.users-list-container {
    background-color: #ffffff;
    padding: var(--normal-margin);
}
.users-list-container ul {
    font-size: 1rem;
    list-style: none;
    padding: 0;
}
.users-list-container li {
    border: 1px solid var(--color-lightgray);
    border-radius: var(--input-border-radius);
    padding: 8px;
}
.users-list-container ul li {
    margin-top: var(--small-margin);
}
.users-list-container ul li:first-child {
    margin-top: 0;
}
